.set-image {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* width: 100%; */
    justify-content: center;
}
img.img-page {
    width: 43%;
    border-radius: 14px;
    margin: 5px;
}









#imageModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#imageModal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    animation: zoomIn 0.3s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(0.6);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.img-page {
    cursor: pointer;
}
